<select class="posts-filter" {{on 'change' (fn this.changeStatus "views" )}} >
  <option  {{on 'change' (fn this.changeStatus "views" )}}>
   By views
  </option>

   <option  {{on 'change' (fn this.changeStatus "likes")}}>
    By likes
  </option>

   <option  {{on 'change' (fn this.changeStatus "activities")}}>
    By recent
  </option>

  {{!-- {{unanswered-topic}} --}}


  

</select>
